{% extends 'base.html' %}

{% block content %}
    <ul class="list-group">
        {% for project_checker in project_checker_list %}
            <li class="list-group-item">
                {{ project_checker.domain }} {{ project_checker.project }} {{ project_checker.repo }} {{ project_checker.branch }}
            <a href="{{ project_checker.delete_url }}" style="float: right"><div class="glyphicon glyphicon-remove"></div></a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}