{% extends 'base.html' %}

{% block content %}
    <ul class="list-group">
        {% for server in server_list %}
            <li class="list-group-item">
                {{ server.name }}: {{ server.sudo_user }}@{{ server.host }}:{{ server.port }}
            <a href="{{ server.delete_url }}" style="float: right"><div class="glyphicon glyphicon-remove"></div></a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}