{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
  <div class="row">
    <div class="center-block col-md-8" style="float:none;">
      <form action="{{ form_action }}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
          </button>
        {% endbuttons %}
      </form>
    </div>
  </div>
{% endblock %}