<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap3 %}

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>slothmin || {{ title }}</title>

  {% bootstrap_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'growl/jquery.growl.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}"/>
  {% if additional_css %}
    {% for css in additional_css %}
      <link rel="stylesheet" type="text/css" href="{{ css }}"/>
    {% endfor %}
  {% endif %}

  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'growl/jquery.growl.js' %}"></script>
  <script src="{% static 'js/endless-pagination.js' %}"></script>
  <script src="{% static 'js/endless_on_scroll.js' %}"></script>
  {% bootstrap_javascript %}
  <script src="{% static 'js/system_ws.js' %}"></script>
  <script src="{% static 'js/js.js' %}"></script>
  {% if additional_scripts %}
    {% for script_name in additional_scripts %}
      <script src="{{ script_name }}"></script>
    {% endfor %}
  {% endif %}
</head>
<script>system_ws = SystemWS("{{ system_ws_url|safe }}");</script>

<body>
  <div class="container">
    {% if request.user.is_authenticated %}
      {% include 'header.html' %}
    {% endif %}
    {% block content %}{% endblock %}
  </div>
</body>