<nav class="navbar navbar-default">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Сервера<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'servers:add' %}">Добавить сервер</a></li>
              <li><a href="{% url 'servers:list' %}">Список серверов</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Администрирование<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'administration:actions' %}">Действия</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">continuous integration<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'ci:list' %}">Список коммит чекеров</a></li>
              <li><a href="{% url 'ci:add' %}">Добавить коммит чекер</a></li>
            </ul>
          </li>
      </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="{% url 'logout' %}">Выйти</a>
          </li>
        </ul>
    </div>
</nav>